MAL_CLIENT_ID =a6*
MAL_CLIENT_SECRET =7b*
MAL_REDIRECT_URI=http://127.0.0.1:8080/callback
MAL_USERNAME=JoeSmith1234
MAL_RATE_LIMIT_PER_SECOND=3

# AniList (alternative to MAL; use --anilist flag)
# ANILIST_USERNAME=JoeSmith1234
ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
ANILIST_RATE_LIMIT_PER_SECOND=3

ANILIST_REDIRECT_URI=http://127.0.0.1:8080/callback
ANIPLAYLIST_DELAY_SECONDS=30


SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080

SPOTIFY_CLIENT_ID=33*
SPOTIFY_CLIENT_SECRET=c2*